
.pandey{
    border: 2px solid black;
    height: 800px;
    width: 400px; 
    margin: 200px;
    padding: 200px;
}

.abhay{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    

}

